<div class="container">
    <!-- BUSCADOR -->
    <div class="search">
        <h1>Enter a anime</h1>
        <input type="text" [(ngModel)]="nameAnime">

        <button (click)="getAnime()">Enter</button>
        <p class="mensaje-vacio">Ingrese un anime</p>
    </div>
    <!-- SPINNER -->
    <mat-spinner id="spinner" color="accent"></mat-spinner>
    <div class="anime" *ngIf="(infoAnime && imgAnime)">
        <div class=" img-anime ">
            <img src="{{imgAnime}} " alt=" ">
        </div>

        <!-- INFORMACION DEL ANIME -->
        <div class="info-anime ">
            <p style="text-align: center; ">{{infoAnime.title_japanese}}</p>
            <hr>
            <p>{{infoAnime.aired.string}}</p>
            <p>Episodes: {{infoAnime.episodes}}</p>
            <p>Type: {{type}}</p>
            <hr>
            <p *ngIf="studio">Studio: {{studio}}</p>
            <ng-template [ngIf]="!studio">Status: {{infoAnime.status}}</ng-template>
            <p>{{infoAnime.synopsis}}</p>
            <a href="{{infoAnime.url}} ">More</a>
        </div>
    </div>

    <!-- MENSAJE DE ERROR -->
    <ng-template [ngIf]="!encontrado">
        <div class="anime-error">
            <h1>Anime no encontrado</h1>
            <h1>Ingrese uno nuevo</h1>
        </div>

    </ng-template>

</div>