    @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
        width: 100%;
        height: 100%;
        margin-top: 100px;
        justify-items: center;
    }
    
    hr {
        color: white;
    }
    
    h1 {
        text-align: center;
        font-size: 50px;
        color: white;
        font-family: 'Silkscreen', cursive;
    }
    
    input {
        background-color: white;
        width: 100%;
        font-size: 20px;
        font-family: 'Silkscreen', cursive;
        color: #050127;
        text-align: center;
        border: 2px solid #cccc;
        border-radius: 10px;
    }
    
    button {
        display: block;
        width: 40%;
        padding: 8px;
        font-size: 20px;
        font-family: 'Silkscreen', cursive;
        margin: 0px auto;
        margin-top: 30px;
        background-color: #480873;
        color: white;
        border: none;
        border-radius: 25px;
    }
    
    .search {
        grid-row: 2/3;
    }
    
    .anime {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2/3;
        grid-row: 1/3;
        width: 100%;
        height: auto;
        font-family: 'Oswald', sans-serif;
        color: white;
    }
    
    #spinner {
        display: none;
        margin: 0px auto;
        margin-top: 40px;
    }
    
    @media(max-width:1400px) {
        input {
            display: block;
            width: 70%;
            margin: 0px auto;
        }
    }
    
    @media(max-width:1000px) {
        h1 {
            display: block;
            text-align: center;
            font-size: 35px;
        }
    }
    
    @media(max-width: 460px) {
        button {
            font-size: 15px;
            padding: 6px;
        }
    }