    @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: 0 5%;
        margin-top: 100px;
    }
    
    hr {
        color: white;
    }
    
    .search h1 {
        text-align: center;
        font-size: 50px;
        color: white;
        font-family: 'Silkscreen', cursive;
    }
    
    .search input {
        background-color: white;
        width: 100%;
        font-size: 20px;
        font-family: 'Silkscreen', cursive;
        color: #050127;
        text-align: center;
        border: 2px solid #cccc;
        border-radius: 10px;
    }
    
    .search button {
        display: block;
        width: 40%;
        padding: 8px;
        font-size: 20px;
        font-family: 'Silkscreen', cursive;
        margin: 0px auto;
        margin-top: 30px;
        background-color: #480873;
        color: white;
        border: none;
        border-radius: 25px;
    }
    
    #spinner {
        display: none;
        margin: 0px auto;
        margin-top: 40px;
    }
    
    .anime {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-top: 50px;
        font-family: 'Oswald', sans-serif;
        color: white;
    }
    
    .anime .img-anime {
        width: 30%;
    }
    
    .anime .img-anime img {
        width: 100%;
        height: 100%;
    }
    
    .anime .info-anime {
        width: 65%;
    }
    
    @media(max-width:780px) {
        .anime .img-anime {
            width: 35%;
        }
        .anime .info-anime {
            width: 55%;
        }
    }
    
    @media(max-width:610px) {
        .anime {
            flex-direction: column;
            align-items: center;
        }
        .anime .img-anime {
            width: 80%;
        }
        .anime .info-anime {
            width: 80%;
            margin-top: 10px;
        }
    }